<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>

<h2>Songs of this genre:</h2>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.name, song %>
    </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
