<p id="notice"><%= notice %></p>

<%= raw @song.embedcode %>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Genre:</b>
  <%= link_to @genre.name, @genre %>
</p>

<p>
  <b>Artist:</b>
  <%= link_to @artist.name, @artist %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
